html {
    font-size: 62.5%;
}

main {
    height: 100vh;
    width: 100%;
    background-color: red;
    // background-image: url(image-path("../assets/css/img/background-arashi.jpg"))
}

@import"../sass/base/_base.scss";