html {
    font-size: 62.5%;
}

main {
    width: 100%;
    // background-color: red;
    // background-image: url(image-path("../assets/css/img/background-arashi.jpg"))
    background-image: url("../assets/img/background-arashi.jpg");
}

