    #over {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align:center;
  }

  #over2 {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align:center;
  }

  #over3 {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    text-align:center;
  }
  
  .img-box {
    position: relative;
    display:inline-block;
    margin-right: 300px;
    margin-top: -100px;

     
    .box {
      position: relative;
      text-align: center;
      
      div {
        position: absolute;
        top: 250px;
        right: 30px;
        background-color: whitesmoke;
        border-radius: 20px;
        padding:10px;
        line-height: normal;
        

        h1 {
          font-size: 25px;
        }
        p{
          font-size: 20px;
          font-family: 'HanziPen SC',sans-serif;
        }

      }
      
    }
  }

  .img-box2 {
    position: relative;
    display:inline-block;

    .lightbox {
      width: 1000px;
      margin-left: 50px;
      margin-top: 150px;
  
  
      img {
        width: 1000px;
        height: 500px;
      }
    
    }
     
    .box2 {
      position: relative;
      text-align: center;
      
      div {
        position: absolute;
        top: 330px;
        right: 20px;
        background-color: whitesmoke;
        border-radius: 20px;
        padding:5px;
        line-height: normal;
        

        h2 {
          font-size: 18px;
        }
        p{
          font-size: 15px;
          font-family: 'HanziPen SC',sans-serif;
        }

      }
      
    }
  }
  
  .img-box3 {
    position: relative;
    display:inline-block;
    margin-right: 300px;

    .lightbox {
      width: 1000px;
      margin-top: 150px;
  
  
      img {
        width: 1000px;
        height: 500px;
      }
    
    }

     
    .box3 {
      position: relative;
      text-align: center;
      
      div {
        position: absolute;
        top: 500px;
        right: 30px;
        background-color: whitesmoke;
        border-radius: 20px;
        padding:10px;
        line-height: normal;
        

        h3 {
          font-size: 25px;
        }
        p{
          font-size: 20px;
          font-family: 'HanziPen SC',sans-serif;
        }

      }
      
    }
  }
  
  .lightbox {
    width: 1000px;
    margin-left: 250px;
    margin-top: 150px;


    img {
      width: 1000px;
      height: 500px;
    }
  
  }