@import "../base/_reset.scss";



.bg-one {

    height: 100px;
    width: 100%;
    background-color: red;
    }



.bg-two {

    height: 100px;
    width: 100%;
    background-color: yellow;
    }

    
.bg-three {
    height: 100px;
    width: 100%;
    background-color: green;
  }
  
  .bg-four {
    height: 100px;
    width: 100%;
    background-color: gainsboro;
  }
  
  .bg-five {
    height: 100px;
    width: 100%;
    background-color: gold;
  }
  
  .bg-six {
    height: 100px;
    width: 100%;
    background-color: goldenrod;
  }
  
  .bg-seven {
    height: 100px;
    width: 100%;
    background-color: gray;
  }
  
  .bg-eight {
    height: 100px;
    width: 100%;
    background-color: palegoldenrod;
  }
  
  .bg-nine {
    height: 100px;
    width: 100%;
    background-color: palegreen;
  }
  
  .bg-ten {
    height: 100px;
    width: 100%;
    background-color: paleturquoise;
  }
  
  .bg-mo {
    height: 100px;
    width: 100%;
    background-color: palevioletred;
  }
  
  .bg-hi {
    height: 100px;
    width: 100%;
    background-color: papayawhip;
  }
  
  .bg-ba {
    height: 100px;
    width: 100%;
    background-color: hotpink;
  }
  
  .bg-bon {
    height: 100px;
    width: 100%;
    background-color: peru;
  }
  
  .bg-nam {
    height: 100px;
    width: 100%;
    background-color: pink;
  }
  
  .bg-sau {
    height: 100px;
    width: 100%;
    background-color: plum;
  }
  
  .bg-sao {
    height: 100px;
    width: 100%;
    background-color: purple;
  }
  
  .bg-hoge {
    height: 100px;
    width: 100%;
    background-color: wheat;
  }
  
  .bg-fuga {
    height: 100px;
    width: 100%;
    background-color: whitesmoke;
  }
  
  .bg-tam {
    height: 100px;
    width: 100%;
    background-color: powderblue;
  }
