// fontColor
$fontColorBase: #FFF;
$colorHover: #D2691E;

//fontFamily
$fontFamilyTitle: 'Luminari','Segoe Script',sans-serif;
$fontFamilySub: 'Snell Roundhand','Mv Boli',sans-serif;

// fontSize
@mixin fontSize($fs) {
    font-size: $fs;
};

//タイトルのフォント
@mixin fontTitle {
    color: $fontColorBase;
    font-family: $fontFamilyTitle;
};

//コンテンツの位置
@mixin positionLeft($left, $top) {
    position: absolute;
    left: $left;
    top: $top;
};

@mixin positionRight($right, $bottom) {
    position: absolute;
    right: $right;
    bottom: $bottom;
};


//レスポンシブ対応用の変数
$breakpoints: (
    xs: "only screen and (max-width: 320px)",
    s: "only screen and (max-width: 575px)",
    m: "only screen and (max-width: 768px)",
    l: "only screen and (max-width: 991px)",
    xl: "only screen and (max-width: 1199px)",
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    };
};

//mainの中の要素のデザイン
main {
    height: 100vh;
    width: 100%;
    position: relative;
    background: {
        image: url(../../assets/img/Culture_AladdinTrailer.jpg);
        repeat: no-repeat;
        size: cover;
        position: center;
    };

    //レスポンシブデザイン（768px以下）
    @include media(m) {
        height: 130vh;
    };

    h1 {
        @include fontTitle();
        @include fontSize(70px);
        @include positionLeft(10%, 10%);

        // レスポンシブデザイン（768px以下）
        @include media(m) {
            @include fontSize(60px);
            @include positionLeft(10%, 5%);           
        };

        // レスポンシブデザイン（575px以下）
        @include media(s) {
            @include fontSize(40px);
            @include positionLeft(5%, 5%);    
        };
    };

    h2 {
        @include fontTitle();
        @include fontSize(50px);
        @include positionLeft(15%, 25%);

        // レスポンシブデザイン（768px以下）
        @include media(m) {
            @include fontSize(40px);
            @include positionLeft(13%, 15%);        
        };

        // レスポンシブデザイン（575px以下）
        @include media(s) {
            @include fontSize(25px);
            @include positionLeft(5%, 13%);    
        };
    };

    img {
        @include positionLeft(25%, 40%);
        height: 35%;
        transform: rotate(-25deg);
        cursor: pointer;

        //レスポンシブデザイン（991px以下）
        @include media(l) {
            height: 25%;
            transform: rotate(-15deg);
            @include positionLeft(20%, 35%);
        };

        // レスポンシブデザイン（768px以下）
        @include media(m) {
            height: 20%;
        };

         // レスポンシブデザイン（575px以下）
         @include media(s) {
            height: 15%;  
            @include positionLeft(15%, 20%);
        };
    };

    .links {
        @include positionLeft(15%, 40%);
        @include fontSize(40px);
        color: $fontColorBase;
        font-family: $fontFamilySub;
        font-weight: bold;

        // レスポンシブデザイン（768px以下）
        @include media(m) {
            @include fontSize(35px);
            @include positionLeft(13%, 25%);         
        };

        // レスポンシブデザイン（575px以下）
        @include media(s) {
            @include fontSize(20px);
            @include positionLeft(5%, 18%);    
        };

        div {
            margin-bottom: 25px;
            display: none;

            a {
                text-decoration: none;
                transition: color 0.5s;

                &:hover {
                    color: $colorHover;
                };
            };
        };
    };

    iframe {
        @include positionRight(5%, 10%);

        //レスポンシブデザイン（768px以下）
        @include media(m) {
            @include positionLeft(20%, 65%);
        };

        // レスポンシブデザイン（575px以下）
        @include media(s) {
            @include positionLeft(3%, 60%);    
        };
    };

    i {
        @include positionRight(5%, 83%);
        color: $fontColorBase;
        cursor: pointer;
        opacity: 0.5;

        // レスポンシブデザイン（575px以下）
        @include media(s) {
            @include positionRight(5%, 90%);
        }
        
        &:hover {
            color: $colorHover;
            opacity: 1;
        };
    };
};