
.works {
    background-image: url(../assets/img/JACA-5761-1440x1269.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: fixed;
    text-align: center;
    h1 {
        color: white;
    }
}
.single img, .album img {
    margin: 20px;
    width: 70%;
}
.album p {
    background-color:  rgba(#000, 0.5);
    border: 2px solid white;
    margin: 50px 150px;
    padding: 50px;
    color:white;
}
.youtube {
    margin: 20px;
}
.link {
    list-style: none;
    display: flex;
    justify-content: center;  
}
.link li {
    margin-left:  50px;
    &:first-child {
        margin: 0;
    }
    &:hover {
        opacity: .5;
    }
}
