footer {

    background-color: gray;
    height: 100px;
    width: 100%;
    // display: flex;
    // justify-content: space-between;
    img {

        height: 60px;
    }
}

.icon {

    a {
   
    margin-right: 25px;
    height: 50px;
    }
}

// footerです　ここから

// <footer>
// <div>
// <img src="./sass/img/マリナーズ　ロゴ.jpg" alt=""></div>


// <div class="icon">
   
//      <a href="https://twitter.com/login?lang=ja"><i class="fab fa-twitter"></i></a> 
   
//      <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>   

//      <a href="https://www.instagram.com/?hl=ja"><i class="fab fa-instagram"></i></i></a>
   
//      <a href="https://www.youtube.com/"> <i class="fab fa-youtube"></i></a>
   
// </div>
// </footer>

// footerです　ここまで