//アイコンのmargin-right
@mixin icon ($marginRight) {
    margin-right: $marginRight
};

//レスポンシブ対応用の変数
$breakpoints: (
    xs: "only screen and (max-width: 320px)",
    s: "only screen and (max-width: 575px)",
    m: "only screen and (max-width: 768px)",
    l: "only screen and (max-width: 991px)",
    xl: "only screen and (max-width: 1199px)",
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    };
};

.footer{
    position: fixed;
    bottom: 0;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

#facebook{
    color:blue;
    @include icon(20px);

    //レスポンシブデザイン（575px以下）
    @include media(m) {
        @include icon(10px);       
    };
}

#twitter{
    color: cyan;
    @include icon(20px);

    //レスポンシブデザイン（575px以下）
    @include media(m) {
        @include icon(10px);       
    };
}

#instagram{
    color: rgb(236, 29, 236);
    @include icon(100px);
    
    //レスポンシブデザイン（575px以下）
    @include media(m) {
        @include icon(30px);       
    };
}