//レスポンシブ対応用の変数
$breakpoints: (
    xs: "only screen and (max-width: 320px)",
    s: "only screen and (max-width: 575px)",
    m: "only screen and (max-width: 768px)",
    l: "only screen and (max-width: 991px)",
    xl: "only screen and (max-width: 1199px)",
);

@mixin media($breakpoint) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    };
};

header {
    height: 100px;
    padding-top: 20px;

    //レスポンシブデザイン（575px以下）
    @include media(m) {
        height: 70px;
        padding-top: 10px;
    };
};

.nav-link {
    font-family: 'Papyrus','Segoe Script',sans-serif;
    font-size: 25px;

    //レスポンシブデザイン（768px以下）
    @include media(m) {
        font-size: 15px;
    };

    //レスポンシブデザイン（575px以下）
    @include media(m) {
        font-size: 10px;
    };
}